/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  button[mat-raised-button] {
      border-radius: 5px !important;
      color: brown !important;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    mat-icon {
      color: rgba(0, 0, 0, 0.51);
      font-size: 1.75rem;
      cursor: pointer;
    }